.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 40px;

  @media screen and (max-width:500px) {
    flex-direction: column;
    align-items: flex-start;
  }

  h2,
  p {
    letter-spacing: 2px;
    font-variant: small-caps;
  }
}